body {
  margin: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav {
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

nav a {
  color: black;
}

/* Content */

.main {
  display: flex;
  border: 1px solid black;
  margin: 0 40px 78px 50px;
  width: 1320px;
  padding-top: 116px;
}

#left {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.column.large {
  display: flex;
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}
