body {
  margin: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav {
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

nav a {
  color: black;
}

/* Content */

div {
  border: 1px solid black;
}

.main {
  display: flex;
  margin: 0 auto 78px auto;
  width: 1232px;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Images */

.image-content {
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.image-content.fish {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  text-align: left;
  height: 300px;
  width: 630px;
}

.image-content.earth {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  margin-top: 16px;
}

.image-content.camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
}

.image-content.cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  margin-top: 16px;
}

/* .image-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
} */

.image-content.fish span {
  font-size: 40px;
}

.first-story {
  width: 630px;
}

/* .story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
} */
